.starter-template {
    margin-top: 10%;
}


.v-center {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10%;
}

.deposit-block {
    margin: 5%;
    position:relative;
    vertical-align: middle;
}

#contentWithPayment {
    height: 300px;
    overflow-y: scroll;
}

.page {
    height: 300px;
}

.background-home {
    background-image: url("http://adb/img/background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.numberedTable {
    border-collapse: collapse;
    counter-reset: lineCounter;  /* counter lines in class "numberedTable" */
}
.numberedTable tr {
    counter-increment: lineCounter;  /* incrementing a counter at the meeting <tr> */
}
.numberedTable td,
.numberedTable tr:before {
    padding: .1em .5em;
    border: 1px solid #E7D5C0;
}
.numberedTable tr:before {
    content: counter(lineCounter);  /* writes the value "lineCounter" in cell */
    display: table-cell;
    vertical-align: middle;
    color: #978777;
}

.banking-backgroumd {
    background: #f9f9f9;
}

.centered {
    text-align:center;
}

.marginTop {
    margin-top: 30px;
}

.contentCenter {
    padding: 3em 0;
    text-align: center;
}